h1,
form,
label,
input,
button {
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
}

.login input,
.login label,
.login button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

form button,
#user-email,
#user-pw {
  height: 48px;
}

form input {
  margin: 8px 0 24px 0;
  background: #ffffff;
  box-shadow: 0 1px 0 0 #677880;
  border-radius: 4px 4px 0 0;
  transition: box-shadow 0.2s;
  padding: 0 16px;
}

form label {
  font-size: 14px;
  color: #29363d;
  text-align: start;
}

form button {
  background-color: #29363d;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

form button:disabled {
  color: #9fa9ae;
}

form input:hover {
  box-shadow: 0 0 0 2px #2e6ff2;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e6ff2;
}
